/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Header & Footer
  ========================================
*/
header h1, 
header h4 {
  display: inline-block;
  margin-left: -4%;
  margin-right: 6%;
}

header h4 {
  padding-bottom: 3.5rem;
  margin-left: -5%;
}

header,
footer {
  display: block;
  margin-right: 8%;
  margin-left: 8%;
}

footer h4 {
  padding-top: 5.5rem;
  padding-bottom: 1rem;
}

/*
  ========================================
  Typography
  ========================================
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0rem;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h1 {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  padding-top: 4rem;
  font-size: 1.4rem;
  margin-left: -2%;
}

h3 {
  font-weight: 600;
}

h4 {
  font-style: italic;
  font-size: .875rem;
  letter-spacing: .06rem;
  color: #999;
  font-weight: 600;
}

p {
  max-width: 49rem;
}

strong {
  font-weight: 600;
}

a {
  color: black;
  margin-right: .5rem;
  padding-bottom: 0.02rem;
  border-bottom: black 1px solid;
}

/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 2.75rem auto;
}
.grid {
  padding-left: 8%;
  padding-right: 8%;  
}
.columns {
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-top: .75rem;
  padding: 0 .75rem;
}

.small-6 {
  width: 50%;
} .small-12 {
  width: 100%;
}

.image,
.image-slider {
  max-width: 100%;
  vertical-align: top;
}

.image {
  border: solid black 0.063rem;
  /*box-shadow: 0px 1px 5px #888888;*/
}

/*iframe {

  min-height: 1096px;
  min-width: 639px;
}*/


#outer{
  width: 639px;
  height: 548px;
  margin: 0;
}

#inner{
  height: 1096px;
  margin: 0 auto;
/*    padding-bottom: 56.25%;
*/}

#inner iframe{
    width: 100%;
    height: 100%;
    zoom: 0.47;
    -moz-transform: scale(0.47);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.47);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.47);
    -webkit-transform-origin: 0 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


/*
  ========================================
  Slider
  ========================================
*/

.cbp-fwslider {
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0px 0 0px;
}
 
.cbp-fwslider ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
}
 
.cbp-fwslider ul li {
    transform: translateZ(0);
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}
 
.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
    display: block;
    text-align: center;
    outline: none;
}
 
.cbp-fwslider ul li > a img {
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 80%;
}
 
.cbp-fwslider nav span {
    position: absolute;
    background: #786958;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    box-shadow: 0px 1px 5px #888888;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    bottom: 0px;
    line-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 20;
}

.cbp-fwslider nav span:hover {
    background: #999;
}
 
.cbp-fwslider nav span.cbp-fwnext {
    right: 0px;
}
 
.cbp-fwslider nav span.cbp-fwprev {
    left: 0px;
}
 
.cbp-fwdots {
    position: absolute;
    bottom: 0px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}
 
.cbp-fwdots span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: #ddd;
    margin: 0rem 1rem;
    border-radius: 50%;
    cursor: pointer;
}
 
.cbp-fwdots span:hover {
    background: #999;
}
 
.cbp-fwdots span.cbp-fwcurrent {
    background: #786958;
    box-shadow: 0px 1px 5px #888888;
    transition: box-shadow 0.2s ease-in-out;
}

/*
  ========================================
  Media Querries
  ========================================
*/

@media screen and (min-width: 48rem){
  .cbp-fwdots span {
    margin: .25rem;
  }
  .cbp-fwslider nav span {  
    font-size: 1.563rem;
    margin-bottom: 1.563rem;
    line-height: 3.125rem;
    bottom: 0px;
    width: 1.563rem;
    height: 3.125rem;
  }

  .medium-6 {
    width: 50%;
  } .medium-12 {
    width: 100%;
  }
  h1 {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 64rem){
  .large-2 {
    width: 20%;
  } .large-4 {
    width: 33%;
  } .large-8 {
    width: 66%;
  } .large-10 {
    width: 80%; 
  } .large-12 {
    width: 100%;
  }

  .cbp-fwslider nav span {
    font-size: 3.125rem;
    margin-bottom: 3.125rem;
    line-height: 6.25rem;
    bottom: 0px;
    width: 3.125rem;
    height: 6.25rem;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .image{
  border-style: solid;
  border-width: 0.125rem;
/*  -moz-border-image: url(http://n12v.com/css-retina-and-physical-pixels/border.gif) 2 repeat;
  -webkit-border-image: url(http://n12v.com/css-retina-and-physical-pixels/border.gif) 2 repeat;
  -o-border-image: url(http://n12v.com/css-retina-and-physical-pixels/border.gif) 2 repeat;
  border-image: url(http://n12v.com/css-retina-and-physical-pixels/border.gif) 2 repeat;
*/
  }
}
